body{
    background-color: whitesmoke;
}

header{
    align-items: center;
    text-align: center;
    color: black;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

::placeholder {
    color: rgba(24, 23, 23, 0.885);
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons{
   margin: 10px;
}

.buttonReset{
    
    background-color: gray;
    margin: 10px;
    color: white;
    width: 26px;
    height: 25px;
    
}
 .buttonPlus{
    background-color: gray;
    color: white;
 }

 .buttonSub{
   background-color: gray;
   color: white;
 }

 .buttonMult{
    background-color: gray;
    color: white;
 }

 .buttonDiv{
    background-color: gray;
    color: white;
 }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
    0 0 0 2px,
    inset -2px 0 0,
    inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px
   }
   
   .gg-trash::after,
   .gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
   }
   
   .gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
   } 